#header { padding: 35px 30px 10px 30px; background-color:#202080;}
#header h1 { font-variant: small-caps; }
#sidebar { float: left; width: 15%; padding: 1% 1% 0 1%; margin: 1%; color:#5ed6ff; background-color:#202080; }
#main {float: right; width: 80%; padding: 0 0 0 0; margin: 0; }
a:link {color:#8aede7; background-color:inherit !important;}
a:visited {color:#33FFFF; background-color:inherit !important;}
body { background:#06005c; color:white; } 
table { border:none; }
td { padding: 0px 4px 0px; }
.c1 { background-color: #44a; }
.c2 { background-color: #66c; }
.right { text-align:right; }

/* Zero out padding and margin, adjust where needed later */
form, fieldset, label, input, .checkbox, textarea, select, option, form div {
  margin: 2px;
  padding: 0;
}

legend {
  font-weight: bold;
  margin: 5px 2% 0 0;
}

.compactform { overflow: hidden; } 
.compactform div, 
.compactform label, 
.compactform input, 
.compactform select, 
.compactform textarea {
  float: left;
}
.compactform input.text, 
.compactform select, 
.compactform textarea {
  /* set width: auto to allow form element content 
  to set width otherwise 90% is a good setting */
  width: auto; /* determines space between form elements */
}
/* Increase width of elements in twoper 
   columns to provide better alignment */
.compactform .twoper input.text, 
.compactform .twoper select, 
.compactform .twoper textarea {
  width: 95%;
}
.compactform div {
  width: 99%;
  margin-bottom: 1em; /* space between rows */
  clear: both;
}
/* Nested divs shouldn't clear floated elements */
/* keeps nested divs from compounding margin value */
.compactform div div {
  margin-bottom: 0; 
  clear: none;
}
/* Nested div label contents should determine their own width */
.compactform div div label {
  width: auto;
  white-space: normal;
  /* unccomment to stack form inputs inside a row */
  /* clear: left; */
  margin-right: 1em;
}
/* Fix paragraph white space in Safari */
.compactform div div p {
  margin: 0;
  padding: 0;
}
 
