#header { padding: 35px 30px 10px 30px; background-color:#202080;}
#header h1 { font-variant: small-caps; }
#sidebar { float: left; width: 15%; padding: 1% 1% 0 1%; margin: 1%; color:#5ed6ff; background-color:#202080; }
#main {float: right; width: 80%; padding: 0 0 0 0; margin: 0; }
a:link {color:#8aede7; background-color:inherit !important;}
a:visited {color:#33FFFF; background-color:inherit !important;}
body { background:#06005c; color:white; } 
table { border:none; }
td { padding: 0px 4px 0px; }
.c1 { background-color: #44a; }
.c2 { background-color: #66c; }
.right { text-align:right; }

